**/node_modules/
.env*
AI_CONTEXT/


# Playwright
playwright-report/
test-results/
blob-report/

# Screenshots / snapshots
*.png
*.webm
*.zip

# Playwright traces/videos
trace/
videos/
screenshots/

# Optional
playwright/.cache/

# Custom Test Output
test-artifacts/

# Build outputs
dist/
build/
out/
.vercel/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
coverage/